.country-form {
  margin-top: 10px;
  padding: 10px;
  vertical-align: middle;
  border: 1px solid black;
  background-color: #f8f9fa;
}

.country-key {
  line-height: 16px;
  vertical-align: middle;
  word-break: break-word;
  font-weight: 600;
}

.country-value {
  line-height: 16px;
  vertical-align: middle;
  word-break: break-word;
  font-size: 16px;
}

.img-responsive {
  width: auto;
  height: 100px;
}
