<div class="container countries-header">
  <div class="row">
    <div class="col-sm-6">
      <button (click)="backToRegions()" mat-button class="uppercase">
        <mat-icon aria-hidden="false">public</mat-icon> &nbsp; Show all regions
      </button>
    </div>
    <div class="col-sm-6">
      <button class="float-right uppercase" (click)="showAllControls()" mat-button>
        Show all countries &nbsp;
        <mat-icon aria-hidden="false">flag</mat-icon>
      </button>
    </div>
  </div>
</div>
